<!-- <nav class="navbar navbar-expand-lg bg-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fas fa-shipping-fast"></i><strong
        style="font-size:15px;">Flipkart</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="./home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="./products">Product</a>
        </li>
        <form class="d-flex" role="search">
          <input class="form-control me-2" (ngModel)="searchTerm" (keyup)="search($event)" type="text" placeholder="Search" aria-label="Search">
        </form>
        <li class="nav-item btn-primary text-white" role="button">
          <a class="nav-link text-white" (click)="logout()">Logout</a>
        </li>
        <button type="button" class="btn btn-primary position-relative" routerLink="./cart">
          <i style="font-size:30px;" class="fas fa-cart-plus"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{totalItem}}</span>
        </button>
      </ul>
    </div>
  </div>
</nav> -->
<nav class="navbar navbar-expand-lg bg-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""><i class="fas fa-shipping-fast"></i><strong
        style="font-size:15px;">Flipkart</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="products">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-info fw-bold" (click)="logout()">Logout</a>
        </li>
        <button type="button" class="btn btn-primary position-relative" routerLink="./cart">
          <i style="font-size:30px;" class="fas fa-cart-plus"></i>
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{totalItem}}</span>
        </button>
      </ul>
    </div>
  </div>
</nav>